
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.opciones{
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin-bottom: 2px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
   display: flex;
   justify-content: space-evenly;
   font-size: x-large;
}
body {
    background-color: rgb(14, 1, 1);
}


p {
    color: whitesmoke;
    position: relative;
    text-align: center;
}

.containerartist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    font-size: x-small;
    
    
    

}

.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    font-size: x-small;
   
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    font-size: x-small;
}
.contenedor{
    border-radius: 100%;
    
}
h1.titulo{
    color: rgb(250, 248, 248);
    background-color: rgba(79, 233, 200, 0.781);
    font-family: 'Cinzel', serif;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    border-color: rgba(163, 243, 226, 0.781);
}
header {
    text-decoration: none;
    text-align: center;
}

.iconos i{
     color: cornsilk;
  margin-left: 10px;
}
#artistas{
    background-color: rgb(132, 213, 219);
    color: ghostwhite;
    background-position: fixed;
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    justify-items: center;
    font-size: 30px;
    
}



#albumes {
    background-color: rgb(132, 213, 219);
    color:ghostwhite;
    text-align: center;
    text-decoration: none;
    background-position: fixed;
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    justify-items: center;
    font-size: 30px;
}

#tracks{
    background-color: rgb(132, 213, 219);
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    background-position: fixed;
    width: 500px;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    justify-items: center;
    font-size: 30px;
}
.logo{
    border-radius: 70%;
    width: 8%;
   
}
.concert{
    width:100 ;

}

.dj{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 40%;
    
  }


#footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    

}
#playlist{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(62, 184, 189);
    text-emphasis: bold;
    
}
p #container{
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;


}
p #container1{
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    
}
p #container2{
  color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    
}
.PlaylistsF {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: seashell;

}

.playlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






footer{
    
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
     
      
} 

.albumcamilo {
    color: whitesmoke;
    text-align:center;
    
   }
   .titulosalbum {
       font-size: 20px;
     
   }
   .titulostrack{
       font-size: 20px;
   }
   .albummain {
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4cm;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 600px;
        height: 400px;
   }
   .trackmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 600px;
    height: 100px;
   }
   .trackjames{
    color: whitesmoke;
    text-align:center;
   }
   .artistaolivia{
       color: whitesmoke;
       text-align: center;
   }
   .artistamain{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 4cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 600px;
    height: 300px;
    font-size: x-large;
   }
   
   .playlistIMG{
       width: 150px;
   }
   .item{
       height: 300px;
   }
   
   .carrousel-inner img {
        width: 1400px;
       height: 600px;
   }
   #myCarousel{
       text-align: center;
       margin: 0 auto;
   }
   #deezerlogo{
       display: flex;
       flex-direction: row;
       border-radius: 50px;
       width: 20px;
       height: 80px;
       
   }
   #footerEntero{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-content: center;
       background-color: rgba(red, green, rgb(75, 75, 77), alpha);
       color: whitesmoke;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 90px;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
       
   }
   .albumdetalle {
    color: whitesmoke;
    text-align:center;
    padding-top: 7%;
    
   }
   .artistadetalle{
    color: whitesmoke;
    text-align:center;
    padding-top: 7%;

   }
   .trackdetalle{
    color: whitesmoke;
    text-align:center;
    padding-top: 7%;
   }

   .texto-artista{
    color: white;
   }

   .texto-detallealbum{
    font-family: 'Raleway', sans-serif;
    color: white;
   }
   .resultados{
       color: white;
       border-radius: 50px;
       background-color: teal;
       justify-content: center;
       margin: 5px;
       padding: 10px;
   }

   @media only screen and (max-width: 768px) {
    .main{
        height: 200vh;
    }
    .header {
        flex-direction: column;
        height: 50px;
        display: flex;

    }

    .PlaylistsF {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .playlistIMG{
        width: 100%;

    }
    i{
        padding: 10px;
        margin: 10px;
        display: flex;
    }
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0.85;
    }

   }
   @media only screen and (max-width: 1024px){
       .contenedorartist{
           display: grid;
           grid-template-columns: min-content;
       }
   }
