
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.opciones{
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin-bottom: 2px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
   display: flex;
   justify-content: space-evenly;
}
body {
    background-color: rgb(14, 1, 1);
}


p {
    color: whitesmoke;
    position: relative;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 225;
    height: 295;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 225;
    height: 295;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    text-decoration: none;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 225;
    height: 295;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}
h1.titulo{
    color: rgb(250, 248, 248);
    background-color: rgb(157, 145, 189);
    font-family: 'Cinzel', serif;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    text-decoration: none;
    text-align: center;
}
.i {
    color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#artistas{
    background-color: rgb(89, 185, 165);
    color: rgb(240, 234, 211);
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#albumes {
    background-color: rgb(126, 196, 126);
    color: peachpuff;
    text-align: center;
    text-decoration: none;
    background-position: fixed;
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tracks{
    background-color: rgb(77, 131, 182);
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    background-position: fixed;
    width: 500px;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    border-radius: 70%;
    width: 8%;
}
.concert{
    width:100 ;

}

.dj{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 40%;
  }


#footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    

}
#playlist{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(62, 184, 189);
    text-emphasis: bold;
    
}
p #container{
    color: whitesmoke;
    text-decoration: none;
}
p #container1{
    color: whitesmoke;
    text-decoration: none;
}
p #container2{
  color: whitesmoke;
    text-decoration: none;  
}
.PlaylistsF {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: seashell;

}

.playlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main{
    height: 100vh;
}




footer{
    background-color: rgb(172, 93, 90);
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
     
      
} 

.albumcamilo {
    color: whitesmoke;
    text-align:center;
    
   }
   .titulosalbum {
       font-size: 20px;
     
   }
   .titulostrack{
       font-size: 20px;
   }
   .albummain {
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4cm;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 600px;
        height: 400px;
   }
   .trackmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 600px;
    height: 100px;
   }
   .trackjames{
    color: whitesmoke;
    text-align:center;
   }
   .artistaolivia{
       color: whitesmoke;
       text-align: center;
   }
   .artistamain{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 4cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 600px;
    height: 300px;
    font-size: x-large;
   }
   
   .playlistIMG{
       width: 150px;
   }

   @media only screen and (max-width: 768px) {
    .main{
        height: 200vh;
    }
    .PlaylistsF {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .playlistIMG{
        width: 100%;
    }
    i{
        padding: 10px;
        margin: 500px;
        display: flex;
       
    }

    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0.85;
    }

   }