.opciones {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;  
}
body {
    background-color: rgb(14, 1, 1);
}


p {
    color: whitesmoke;
    position: relative;
    text-align: center;
}

.playlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 225;
    height: 295;

}
.playlist2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: inherit;
    width: 225;
    height: 295;  
}

.playlist3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 225;
    height: 295;
}
h1 {
    color: whitesmoke;
    background-color: rgb(16, 62, 100);
    font-family: 'Cinzel', serif;
    text-align: center;
}
header {
    text-decoration: none;
}
.i {
    color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#artistas{
    background-color: rgb(178, 236, 91);
    color: ivory;
    width: 500px;
    height: 50px;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 225;
    height: 295;
}

h2 {
    background-color: rgb(126, 196, 126);
    color: peachpuff;
    text-align: center;
    text-decoration: none;
    background-position: fixed;
    width: 500px;
    height: 40px;
    text-align: center;
}
#container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 225;
    height: 295;
}
h2.tracks{
    background-color: rgb(182, 69, 129);
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    background-position: fixed;
    width: 500px;
    height: 40px;
}